body {
  min-width: 500px;
}
.page {
  padding: 20px;
}
.meetingContainer {
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.Card {
  margin: 10px;
  display: inline-block;
  width: 18rem;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.1, 1.1);
}
.App {
  height: 600px;
  width: 800px;
  overflow: hidden;
}
.Link {
  font-size: large;
}
.Bottom {
  background-color: rgb(54, 58, 63);
  color: white;
  padding: 1rem;
}